@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

*::-webkit-scrollbar {
  display: none;
}

.rainbow-text-animated {
  background: linear-gradient(
    to right,
    #6666ff,
    #0099ff,
    #00ff00,
    #ff3399,
    #6666ff
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow-animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow-animation {
  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

.theme-gradient {
  background: linear-gradient(
    -45deg,
    #d72638,
    #f46036,
    #ffd23f,
    #44af69,
    #1985a1,
    #564787,
    #6c2dc7,
    #564787,
    #1985a1,
    #44af69,
    #ffd23f,
    #f46036,
    #d72638
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .theme-gradient {
    background: linear-gradient(
      -45deg,
      #6c2dc7,
      #564787,
      #1985a1,
      #44af69,
      #ffd23f,
      #f46036,
      #d72638,
      #f46036,
      #ffd23f,
      #44af69,
      #1985a1,
      #564787,
      #6c2dc7,
      #564787,
      #1985a1,
      #44af69,
      #ffd23f,
      #f46036,
      #d72638,
      #f46036,
      #ffd23f,
      #44af69,
      #1985a1,
      #564787,
      #6c2dc7,
      #564787,
      #1985a1,
      #44af69,
      #ffd23f,
      #f46036,
      #d72638
    );
    background-size: 400% 400%;
    animation: gradient 25s ease infinite;
    height: 100%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face {
  font-family: "BubbleStacked"; /* Choose a name for your font */
  src: url("./fonts/Bubble-Stacked.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-bubblestacked {
  font-family: "BubbleStacked", sans-serif;
}

@font-face {
  font-family: "DailyCroquete"; /* Choose a name for your font */
  src: url("./fonts/Daily-Croquete.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-dailycroquete {
  font-family: "DailyCroquete", sans-serif;
}

@font-face {
  font-family: "danki"; /* Choose a name for your font */
  src: url("./fonts/danki.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-danki {
  font-family: "danki", sans-serif;
}

@font-face {
  font-family: "easterChalk"; /* Choose a name for your font */
  src: url("./fonts/easter-chalk.ttf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-chalk {
  font-family: "easterChalk", sans-serif;
}

@font-face {
  font-family: "FriendlyMonster"; /* Choose a name for your font */
  src: url("./fonts/FriendlyMonster.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-monster {
  font-family: "FriendlyMonster", sans-serif;
}

@font-face {
  font-family: "KittyPaw"; /* Choose a name for your font */
  src: url("./fonts/KittyPaw.otf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-kittypaw {
  font-family: "KittyPaw", sans-serif;
}

@font-face {
  font-family: "Nabana"; /* Choose a name for your font */
  src: url("./fonts/Nabana-ShadowBold.ttf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-nabana {
  font-family: "Nabana", sans-serif;
}

@font-face {
  font-family: "TextbookCharlie"; /* Choose a name for your font */
  src: url("./fonts/Textbook-Charlie.ttf") format("truetype"); /* Adjust path and format */
  font-weight: normal;
  font-style: normal;
}

.font-textbook {
  font-family: "TextbookCharlie", sans-serif;
}
